services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: test
      POSTGRES_DB: test
      PGPORT: 5432
    # ports:
    #   - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data 
 
volumes:
  pgdata:
